In [5]:
import pandas as pd

In [6]:
address = pd.read_csv('Address.csv', sep ='|')

In [7]:
data_all = pd.read_csv('Web-Scrapping-Proyecto Final.csv', sep='|')

In [8]:
address.head()

                                             Address    Latitud   Longitud
0    Tokio 65, A1, Juárez, Cuauhtémoc, Distrito F...  19.423694 -99.172191
1    Azalea 152, Lomas Quebradas, La Magdalena Co...  19.314178 -99.246085
2    Lago Iseo 532, Be Grand Alto Polanc, Colonia...  19.441025 -99.181858
3    Congreso 113, La Joya, Tlalpan, Distrito Fed...  19.280332 -99.168200
4    Rómulo O'farril 520, Colonia Olivar De Los P...  19.337762 -99.214591

In [9]:
data_all.head()

,Address,Price(MX$),Bedrooms,Bathrooms,Size(m2)
0,"Tokio 65, A1, Juárez, Cuauhtémoc, Distrito F...",30000,2,2.0,107
1,"Azalea 152, Lomas Quebradas, La Magdalena Co...",13500,2,2.0,140
2,"Lago Iseo 532, Be Grand Alto Polanc, Colonia...",35000,2,2.0,109
3,"Congreso 113, La Joya, Tlalpan, Distrito Fed...",11350,2,1.0,102
4,"Rómulo O'farril 520, Colonia Olivar De Los P...",14500,2,2.0,76

In [10]:
final = pd.merge(address,data_all, on='Address', how='left')

final.drop_duplicates().head()

,Address,Latitud,Longitud,Price(MX$),Bedrooms,Bathrooms,Size(m2)
0,"Tokio 65, A1, Juárez, Cuauhtémoc, Distrito F...",19.423694,-99.172191,30000,2,2.0,107
1,"Azalea 152, Lomas Quebradas, La Magdalena Co...",19.314178,-99.246085,13500,2,2.0,140
2,"Lago Iseo 532, Be Grand Alto Polanc, Colonia...",19.441025,-99.181858,35000,2,2.0,109
3,"Congreso 113, La Joya, Tlalpan, Distrito Fed...",19.280332,-99.168200,11350,2,1.0,102
4,"Rómulo O'farril 520, Colonia Olivar De Los P...",19.337762,-99.214591,14500,2,2.0,76

In [11]:
column_order = ['Address','Price(MX$)','Bedrooms','Bathrooms','Size(m2)','Latitud','Longitud']
lista_final = final[column_order]
lista_final.head()

,Address,Price(MX$),Bedrooms,Bathrooms,Size(m2),Latitud,Longitud
0,"Tokio 65, A1, Juárez, Cuauhtémoc, Distrito F...",30000,2,2.0,107,19.423694,-99.172191
1,"Azalea 152, Lomas Quebradas, La Magdalena Co...",13500,2,2.0,140,19.314178,-99.246085
2,"Lago Iseo 532, Be Grand Alto Polanc, Colonia...",35000,2,2.0,109,19.441025,-99.181858
3,"Congreso 113, La Joya, Tlalpan, Distrito Fed...",11350,2,1.0,102,19.280332,-99.168200
4,"Rómulo O'farril 520, Colonia Olivar De Los P...",14500,2,2.0,76,19.337762,-99.214591

In [12]:
lista_final.to_csv('lista_final.csv', sep="|", index=False)

In [15]:
def filtrado():
    print('Bienvenido a RENTA2')
    Precio = int(input('Por favor ingresa un rango de precios en los cuales buscas rentar'))
    resp = ['5000-10000','11000-20000','21000-30000','31000-40000','Más de 50000']
    Número_habitantes = int(input('Por favor ingrese el número de personas que habitarán el departamento'))
    Lugar_trabajo = str(input('Por favor ingrese la dirección de trabajo'))
    Hobby = str(input('Por favor ingresa tu mayor hobby'))
    
    return Precio, Número_habitantes, Lugar_trabajo, Hobbie

In [ ]:
Precio, No_habitantes , Lugar_trabajo, Hobby = filtrado()

Bienvenido a RENTA2

In [ ]:
def sumita_2(x,y):
    return x+y

In [ ]:
Precio

In [ ]:
localizar('tonala 10')